{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% load humanize %}
{% load i18n %}
{% block extra_head %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/datatables.min.css' %}">
{% endblock extra_head %}
{% block main-content %}
<div class="container-fluid pt-3">
  <h4>{% trans "Fablab Members" %}</h4>
  <table class="table" id="memberTable">
    <thead>
      <tr>
        <th>n</th>
        <th>#</th>
        <th>{% trans "Email" %}</th>
        <th>{% trans "First Name" %}</th>
        <th>{% trans "Middle Name" %}</th>
        <th>{% trans "Last Name" %}</th>
        <th>{% trans "Adress" %}</th>
        <th>{% trans "ZIP" %}</th>
        <th>{% trans "City" %}</th>
        <th>{% trans "enddate" %}</th>
        <th>{% trans "has payed" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for member in members %}
        <tr>
          <td>{{forloop.counter}}</td>
          <td>{{member.id}}</td>
          <td>{{member.email}}</td>
          <td>{{member.first_name}}</td>
          <td>{{member.middle_name}}</td>
          <td>{{member.last_name}}</td>
          <td>{{member.street_and_number}}</td>
          <td>{{member.zip_code}}</td>
          <td>{{member.city}}</td>
          <td>{{member.end_date}}</td>
          <td>{{member.has_payed}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock main-content%}
{% block extra-javascript %}
<script type="text/javascript" charset="utf8" src="{% static '/js/datatables.min.js' %}"></script>
<script type="text/javascript">
  $(document).ready( function () {
    $('#memberTable').DataTable({
      fixedHeader: true,
      scrollY:        '80vh',
      scrollCollapse: true,
      paging:         false,
      dom: 'Bfrtip',
      buttons: [ 'copy', 'csv', 'excel' ]
    });
} );
</script>
{% endblock extra-javascript %}


