{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% load humanize %}
{% load i18n %}
{% block main-content %}
<div class="container-fluid pt-3">
  <h4>{{ journal }}</h4>
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>{% trans "Date" %}</th>
        <th>{% trans "Type" %}</th>
        <th>{% trans "Contra account" %}</th>
        <th>{% trans "Booking text" %}</th>
        <th>{% trans "Income" %}</th>
        <th>{% trans "Expenses" %}</th>
        <th>{% trans "Balance expected" %}</th>
        <th>{% trans "Balance true" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for entry in entries %}
        <tr>
          <td>{{entry.id}}</td>
          <td>{{entry.timestamp}}</td>
          <td>{{entry.get_entry_type_display}}</td>
          <td>{{entry.account}}</td>
          <td>{% if entry.text %}{{entry.text}}{%endif%}</td>
          <td>{% if entry.entry_type == entry.INCOME %}{{entry.amount}}{%endif%}</td>
          <td>{% if entry.entry_type == entry.EXPENSE %}{{entry.amount}}{%endif%}</td>
          <td>EXP</td>
          <td>{% if entry.entry_type == entry.COUNT %}{{entry.balance}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock main-content%}
{% block extra-javascript %}
{% endblock extra-javascript %}
{% block extra_head %}
{% endblock %}

