{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% load widget_tweaks %}
{% load humanize %}
{% load i18n %}
{% block main-content %}
<div class="container-fluid pt-3">
  <div class="row justify-content-lg-center">
    <div class="col-lg-8">
      <div class="card mx-1">
        <div class="card-header">
          <h4>{% trans "Cash Count" %}</h4>
        </div>
        <form method="post" class="form">
        <div class="card-body">
          <div class="row justify-content-md-center">
            <div class="col-md-4">
              {% bootstrap_field form.cashier_date %}
            </div>
            <div class="col-md-4">
              {% bootstrap_field form.journal %}
            </div>
            <div class="col-md-12">
              {% bootstrap_field form.total %}
            </div>
          </div>
          <hr>
            {% csrf_token %}
            <div class="row">
              <div class="col-md-12">
               bla
              </div>
            </div>
        </div>
        <div class="card-footer text-muted">
          <button class="btn btn-primary" type="submit" name = "save">{% trans "Save" %}</button>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock main-content%}


