{% load i18n %}
{% load mathfilters %}
<table class="table table-sm table-reflow">
  <thead>
    <tr>
      <th>{% trans "Item" %}</th>
      <th>{% trans "Duration" %}</th>
      <th class="text-right">{% trans "Price" %}</th>
    </tr>
  </thead>
  <tbody>
    {% for machinesused in fablog.machinesused_set.all %}
      <tr>
        <td>
          <span 
            class="badge badge-secondary"
            style="background:{{ machinesused.machine.color }}">
            {{ machinesused.machine.abbreviation }}
          </span>
          {{ machinesused.machine.name }}
        </td>
        <td>
          {% if machinesused.end_time %}
            {{ machinesused.duration_str }}
          {% else %}
            <span name="countup" data-countup= "{{ machinesused.start_time|date:'c' }}"></span>
          {% endif %}
        </td>
        <td align="right">
          {{ machinesused.price }}
        </td>
      </tr>
    {% endfor %}
    {% if fablog.machinesused_set.all %}
      <tr>
        <td colspan="2" align="right">
          <em>{% trans "Subtotal Machines" %}</em>
        </td>
        <td class="border-top border-dark" align="right">
          <em>{{fablog.total_machines}}<em>
        </td>
      </tr>
    {% endif %}
    {% for materialsused in fablog.materialsused_set.all %}
        <tr>
          <td  colspan="2" align="left">
            {{materialsused.units}} x {{ materialsused.material.name }}
          </td>
          <td align="right">
            {{materialsused.price}}
          </td>
        </tr>
    {% endfor %}
    {% if fablog.materialsused_set.all %}
      <tr>
        <td colspan="2" align="right">
          <em>{% trans "Subtotal Materials" %}</em>
        </td>
        <td class="border-top border-dark" align="right">
          <em>{{fablog.total_materials}}</em>
        </td>
      </tr>
    {% endif %}
    {% for fablogmembership in fablog.fablogmemberships_set.all %}
        <tr>
          <td colspan="2" align="left">
            {{fablogmembership.membership.name}} {% trans "until" %} {{ fablogmembership.end_date }}
          </td>
          <td align="right">
            {{fablogmembership.price}}
          </td>
        </tr>
    {% endfor %}
    {% if fablog.fablogmemberships_set.all %}
      <tr>
        <td colspan="2" align="right">
          <em>{% trans "Subtotal Memberships" %}</em>
        </td>
        <td class="border-top border-dark" align="right">
          <em>{{fablog.total_memberships}}</em>
        </td>
      </tr>
    {% endif %}
    <tr>
      <td colspan="2" align="right">
        <b>{% trans "Total" %}</b>
      </td>
      <td class="border-top border-dark" align="right">
        <b>{{fablog.total}}</b>
      </td>
    </tr>
    {% for fablogpayments in fablog.fablogpayments_set.all %}
        <tr>
          <td colspan="2" align="left">
            {{ fablogpayments.payment }}
          </td>
          <td align="right">
            {{fablogpayments.payment.amount|mul:-1}}
          </td>
        </tr>
    {% endfor %}
    <tr>
      <td colspan="2" align="right">
        <b>{% trans "Due" %}</b>
      </td>
      <td class="border-top border-dark" align="right">
        <b>{{fablog.dues}}</b>
      </td>
    </tr>
  </tbody>
</table>
