<!DOCTYPE html>
{% load bootstrap4 %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE|default:'en_us' }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <!--  <link rel="icon" href="../../../../favicon.ico"> -->
  <title>{% block header_title %} {% endblock header_title %}</title>
  <!-- Bootstrap CSS -->
  {% bootstrap_css %}
  
  {% block extra_head %}{% endblock %}
</head>
<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="{% url 'fablog:home' %}">
      <img  alt="Home" src="{% static 'img/logo_navbar.svg' %}" height="30px" title="Home" data-placement="bottom">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item{% if 'fablog' in request.path %} active{% endif %}">
          <a class="nav-link" href="{% url 'fablog:home' %}">{% trans "Fablog" %}</a>
        </li>
        {% if is_labmanager %}
        <li class="nav-item dropdown{% if 'cashier' in request.path %} active{% endif %}">
          <a class="nav-link dropdown-toggle" id="cashierDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% trans "Cashier" %}</a>
          <div class="dropdown-menu" aria-labelledby="cashierDropdown">
            <a class="dropdown-item" href="{% url 'cashier:account' 1 %}">{% trans "Cashier" %}</a>
            <a class="dropdown-item" href="{% url 'cashier:new_cash_count' %}">{% trans "Enter Cash Count" %}</a>
            <a class="dropdown-item" href="#">{% trans "Enter Expenses" %}</a>
          </div>
        </li>
        <li class="nav-item{% if 'members' in request.path %} active{% endif %}">
          <a class="nav-link" href="{% url 'members:members_list' %}">{% trans "Members" %}</a>
        </li>
        {% endif %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="servicesDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% trans "Services" %}</a>
          <div class="dropdown-menu" aria-labelledby="servicesDropdown">
            <a class="dropdown-item" href="#">{% trans "Machines" %}</a>
            <a class="dropdown-item" href="#">{% trans "Material" %}</a>
            <a class="dropdown-item" href="#">{% trans "Services" %}</a>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown ">
          <a class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account</a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown01">
            {% if is_staff %}
            <a class="dropdown-item" href="{% url 'admin:index' %}">Admin</a>
            {% endif %}
            <a class="dropdown-item" href="{% url 'logout' %}">Sign out</a>
          </div>
      </li>
    </ul>
    </div>
  </nav>
  <main role="main">

    {% block main-content %}
    {% endblock main-content %}

    <div class="alert alert-danger m-3 d-print-none" role="alert">
      <h4 class="alert-heading">Dev Infos</h4>
      {{ view }}
    </div>
    
  </main>

  <!-- Bootstrap JavaScript -->
  <script type="text/javascript" src={% static "js/jquery.min.js"%}></script> 
  <script type="text/javascript" src={% static "js/popper.min.js"%}></script>
  <script type="text/javascript" src={% static "js/bootstrap.min.js"%}></script>
  <script type="text/javascript">
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
  </script>
  {% block extra-javascript %}
  {% endblock extra-javascript %}
</body>
</html>


