{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% load humanize %}
{% load i18n %}
{% block main-content %}
{% trans "Duration" as duration %}
{% trans "Price" as price %}
{% trans "Delete?" as delete %}
<div class="container-fluid pt-3">
  <div class="row justify-content-lg-center">
    <div class="col-lg-8">
      <div class="card mx-1">
        <div class="card-header">
          <h4>{% trans "FabLog" %} | {{ fablog.member }} </h4>
          <small>{{ fablog.created_at|naturalday:"l, j.m.Y" }}</small>
        </div>
        <form method="post" class="form">
          <div class="card-body">
            {% csrf_token %}
            <!-- Member & Creation -->
            <div class="form-row">
              <div class="col-md-6">
                <div class="form-group">
                  <div class="form-group">
                    <label for="id_member">{% trans "Member" %}</label>
                    <select name="member"
                      class="form-control custom-select"
                      title="" required="" id="id_member"
                      placeholder="{% trans 'Select member...' %}"></select>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                    {% bootstrap_field form.created_at show_help=False%}
              </div>
            </div>
            <!-- Machines -->
            <h4 class="mt-3">
              <a data-toggle="collapse" class="icon ion-arrow-down-b" href="#collapse-machines" role="button" aria-expanded="false" aria-controls="collapseMachines"></a>
              {% trans "Machines" %}
            </h4>
            <div class="collapse show" id="collapse-machines">
            <div class="row">
              <div class="col-md-3 d-none d-md-block"><label class="font-weight-bold">{{machinesFS.0.machine.label}}</label></div>
              <div class="col-md-3 d-none d-md-block"><label class="font-weight-bold">{{machinesFS.0.start_time.label}}</label></div>
              <div class="col-md-3 d-none d-md-block"><label class="font-weight-bold">{{machinesFS.0.end_time.label}}</label></div>
              <div class="col-md-1 d-none d-md-block"><label class="font-weight-bold">{{ duration }}</label></div>
              <div class="col-md-1 d-none d-md-block"><label class="font-weight-bold">{{ price }}</label></div>
              <div class="col-md-1 d-none d-md-block"><label class="font-weight-bold text-center">{{ delete }}</label></div>     
            </div>
            {{ machinesFS.management_form }}
            {% for form in machinesFS %}
              {{ form.id }}
              <div class="row">
                <div class="col-md-3">
                  <label class="font-weight-bold d-md-none">{{machinesFS.0.machine.label}}</label>
                  {% bootstrap_field form.machine show_label=False show_help=False %}
                </div>
                <div class="col-md-3">
                  <label class="font-weight-bold d-md-none">{{machinesFS.0.start_time.label}}</label>
                  {% bootstrap_field form.start_time show_label=False show_help=False addon_after="<button name='now' data-toggle='tooltip' title='Enter current time' class='input-group-text icon ion-ios-clock-outline' type='button'></button>" addon_after_class=None %}
                </div>
                <div class="col-md-3">
                  <label class="font-weight-bold d-md-none">{{machinesFS.0.end_time.label}}</label>
                  {% bootstrap_field form.end_time show_label=False show_help=False addon_after="<button name='now' data-toggle='tooltip' title='Enter current time' class='input-group-text icon ion-ios-clock-outline' type='button'></button>" addon_after_class=None %}
                </div>
                <div class="col-md-1">
                  <label class="font-weight-bold d-md-none mr-5">{{ duration }}</label>
                    {% if form.instance.end_time %}
                      {{ form.instance.duration_str }}
                    {% elif form.instance.start_time %}
                      <span class="font-italic" name="countup" data-countup="{{ form.instance.start_time|date:'c' }}"></span> 
                    {% endif %}
                </div>
                <div class="col-md-1">
                  <label class="font-weight-bold d-md-none mr-5">{{ price }}</label>
                  {% if form.instance.end_time %}
                    {{ form.instance.amount }}
                  {% else %}
                    ...
                  {% endif %}
                </div>
                <div class="col-md-1 text-md-center">
                  <label class="font-weight-bold d-md-none mr-5">{{ delete }}</label>
                  {{form.DELETE}}
                </div>
              </div>
              <hr>
            {% endfor %}
            </div>
            <div class="row">
              <div class="col-md-10 text-md-right">
                <b>{% trans "Subtotal Machines" %}</b>
              </div>
              <div class="col-md-1 text-md-right">
                {{fablog.total_machines}}
              </div>
            </div>
            <!-- Varia -->
            <h4 class="mt-3">
              <a data-toggle="collapse" class="icon ion-arrow-down-b" href="#collapse-varia" role="button" aria-expanded="false" aria-controls="collapseMaterials"></a>
            {% trans "Varia" %}
            </h4>
            <div class="collapse show" id="collapse-varia">
            <div class="row">
              <div class="col-md-3 d-none d-md-block"><label class="font-weight-bold">{{variaFS.0.varia.label}}</label></div>
              <div class="col-md-3 d-none d-md-block"><label class="font-weight-bold">{{variaFS.0.details.label}}</label></div>
              <div class="col-md-2 d-none d-md-block"><label class="font-weight-bold">{{variaFS.0.units.label}}</label></div>
              <div class="col-md-2 d-none d-md-block"><label class="font-weight-bold">{{variaFS.0.price_per_unit.label}}</label></div>
              <div class="col-md-1 d-none d-md-block"><label class="font-weight-bold">{{ price }}</label></div>
              <div class="col-md-1 d-none d-md-block"><label class="font-weight-bold">{{ delete }}</label></div>     
            </div>
            {{ variaFS.management_form }}
            {% for form in variaFS %}
              {{ form.id }}
              <div class="row">
                <div class="col-md-3">
                  <label class="font-weight-bold d-md-none">{{variaFS.0.varia.label}}</label>
                  {% bootstrap_field form.varia show_label=False show_help=False %}
                </div>
                <div class="col-md-3">
                  <label class="font-weight-bold d-md-none">{{variaFS.0.details.label}}</label>
                  {% bootstrap_field form.details show_label=False show_help=False %}
                </div>
                <div class="col-md-2">
                  <label class="font-weight-bold d-md-none">{{variaFS.0.units.label}}</label>
                  {% bootstrap_field form.units show_label=False show_help=False field_class="small-int-field" %}
                </div>
                <div class="col-md-2">
                  <label class="font-weight-bold d-md-none">{{variaFS.0.price_per_unit.label}}</label>
                  {% bootstrap_field form.price_per_unit show_label=False show_help=False field_class="small-int-field" %}
                </div>
                <div class="col-md-1">
                  <label class="font-weight-bold d-md-none mr-5">{{ price }}</label>
                  {% if form.instance.varia %}
                    {{ form.instance.amount }}
                  {% else %}
                    ...
                  {% endif %}
                </div>
                <div class="col-md-1 text-md-center">
                  <label class="font-weight-bold d-md-none mr-5">{{ delete }}</label>
                  {{form.DELETE}}
                </div>
              </div>
              <hr>
            {% endfor %}
            </div>
            <div class="row">
              <div class="col-md-10 text-md-right">
                <b>{% trans "Subtotal Varia" %}</b>
              </div>
              <div class="col-md-1 text-md-right">
                {{fablog.total_varia}}
              </div>
            </div>
            <!-- Memberships -->
            <h4 class="mt-3"><a data-toggle="collapse" class="icon ion-arrow-down-b" href="#collapse-membership" role="button" aria-expanded="false" aria-controls="collapseMembership"></a>
            {% trans "Membership" %}</h4>
            <div class="collapse show" id="collapse-membership">
            <div class="row">
              <div class="col-md-4 d-none d-md-block"><label class="font-weight-bold">{{membershipsFS.0.membership_type.label}}</label></div>
              <div class="col-md-4 d-none d-md-block"><label class="font-weight-bold">{{membershipsFS.0.start_date.label}}</label></div>
              <div class="col-md-2 d-none d-md-block"></div>
              <div class="col-md-1 d-none d-md-block"><label class="font-weight-bold">{{ price }}</label></div>
              <div class="col-md-1 d-none d-md-block"><label class="font-weight-bold">{{ delete }}</label></div>     
            </div>
            {{ membershipsFS.management_form }}
            {% for form in membershipsFS %}
              {{ form.id }}
              {% if form.non_field_errors %}
              <div class="alert alert-danger" role="alert">
                {% for error in form.non_field_errors %}
                  <p{% if forloop.last %} class="mb-0"{% endif %}>{{ error }}</p>
                {% endfor %}
              </div>
              {% endif %}
              <div class="row">
                <div class="col-md-4">
                  <label class="font-weight-bold d-md-none">{{membershipsFS.0.membership_type.label}}</label>
                  {% bootstrap_field form.membership_type show_label=False show_help=False %}
                </div>
                <div class="col-md-4">
                  <label class="font-weight-bold d-md-none">{{membershipsFS.0.start_date.label}}</label>
                  {% bootstrap_field form.start_date show_label=False show_help=False %}
                </div>
                <div class="col-md-2">
                </div>
                <div class="col-md-1">
                  <label class="font-weight-bold d-md-none mr-5">{{ price }}</label>
                  {% if form.instance.membership_type %}
                    {{ form.instance.amount }}
                  {% else %}
                    ...
                  {% endif %}
                </div>
                <div class="col-md-1 text-md-center">
                  <label class="font-weight-bold d-md-none mr-5">{{ delete }}</label>
                  {{form.DELETE}}
                </div>
              </div>
              <hr>
            {% endfor %}
            </div>
            <div class="row">
              <div class="col-md-10 text-md-right">
                <b>{% trans "Subtotal Membership" %}</b>
              </div>
              <div class="col-md-1 text-md-right">
                {{fablog.total_memberships}}
              </div>
            </div>

            {% if is_labmanager %}
            <!-- Expenses -->
              <h4 class="mt-3">
                {% if refundsFS.3 %}
                <a data-toggle="collapse" class="icon ion-arrow-down-b"{% else} href="#collapse-expenses" role="button" aria-expanded="false" aria-controls="collapseMaterials"></a>
                {% else %}
                <a data-toggle="collapse" class="icon ion-arrow-right-b"{% else} href="#collapse-expenses" role="button" aria-expanded="false" aria-controls="collapseMaterials"></a>
                {% endif %}
              {% trans "Refunds" context "Fablog" %}
              {{ refundsFS.management_form }}
              </h4>
              {% if refundsFS.3 %}
              <div class="collapse show" id="collapse-expenses">
              {% else %}
              <div class="collapse hide" id="collapse-expenses">
              {% endif %}
                <div class="alert alert-warning" role="alert">
                  {% blocktrans %}
                    Please be carefull when entering refunds! For expenses please use the expenses form.
                  {% endblocktrans %}
                </div> 
                <div class="row">
                  <div class="col-md-3 d-none d-md-block"><label class="font-weight-bold">{{refundsFS.0.contra_account.label}}</label></div>
                  <div class="col-md-6 d-none d-md-block"><label class="font-weight-bold">{{refundsFS.0.details.label}}</label></div>
                  <div class="col-md-2 d-none d-md-block"><label class="font-weight-bold">{{refundsFS.0.amount.label }}</label></div>
                  <div class="col-md-1 d-none d-md-block"><label class="font-weight-bold">{{ delete }}</label></div>     
                </div>
                {% for form in refundsFS %}
                  {{ form.id }}
                  {% if form.non_field_errors %}
                  <div class="alert alert-danger" role="alert">
                    {% for error in form.non_field_errors %}
                      <p{% if forloop.last %} class="mb-0"{% endif %}>{{ error }}</p>
                    {% endfor %}
                  </div>
                  {% endif %}
                  <div class="row">
                    <div class="col-md-3">
                      <label class="font-weight-bold d-md-none">{{refundsFS.0.contra_account.label}}</label>
                      {% bootstrap_field form.contra_account show_label=False show_help=False %}
                    </div>
                    <div class="col-md-6">
                      <label class="font-weight-bold d-md-none">{{refundsFS.0.details.label}}</label>
                      {% bootstrap_field form.details show_label=False show_help=False %}
                    </div>
                    <div class="col-md-2">
                      <label class="font-weight-bold d-md-none">{{refundsFS.0.price.label}}</label>
                      {% bootstrap_field form.price show_label=False show_help=False %}
                    </div>
                    <div class="col-md-1 text-md-center">
                      <label class="font-weight-bold d-md-none mr-5">{{ delete }}</label>
                      {{form.DELETE}}
                    </div>
                  </div>
                  <hr>
                {% endfor %}
              </div>
              <div class="row">
                <div class="col-md-10 text-md-right">
                  <b>{% trans "Subtotal Expenses" %}</b>
                </div>
                <div class="col-md-1 text-md-right">
                  {{fablog.total_expenses}}
                </div>
              </div>
            {% endif %}
            <h4 class="mt-3">{% trans "Total" %}</h4>
            <hr>
            <div class="row">
              <div class="col-md-10 text-md-right">
                <b>{% trans "Total Fablog" %}</b>
              </div>
              <div class="col-md-1 text-right">
                {{fablog.total}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-10 text-md-right">
                <b>{% trans "Total Transactions" %}</b>
              </div>
              <div class="col-md-1 text-right">
                {% if fablog.total_transactions > 0 %}
                  -{{fablog.total_transactions}}
                {% else %}
                  0
                {% endif %}
              </div>
            </div>
            
            <div class="row">
              <div class="col-md-8"></div>
              <div class="col-md-2 border-top text-md-right">
                <b>{% trans "Total" %}</b>
              </div>
              <div class="col-md-1 text-right border-top">
                {{fablog.dues}}
              </div>
            </div>
            <h4 class="mt-3"><a data-toggle="collapse" class="icon ion-arrow-right-b" href="#collapse-notes" role="button" aria-expanded="false" aria-controls="collapseMembership"></a>
            {% trans "Notes" %}</h4>
            <div class="collapse hide" id="collapse-notes">
              <div class="form-row">
              <div class="col-md-12">
                {% bootstrap_field form.notes show_label=False %}
              </div>
            </div>
            </div> 
          </div>
          <div class="card-footer text-muted clearfix">
            <button class="btn btn-primary" type="submit" name = "save">{% trans "Save" %}</button>
            {% if is_labmanager %}
              <button class="btn btn-warning float-right" type="submit" name = "close">{% trans "Pay" %}</button>
            {% endif %}
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock main-content%}
{% block extra-javascript %}
  <script type="text/javascript" src={% static "js/selectize.min.js"%}></script>
  <script type="text/javascript">
  $('#id_member').selectize({
    valueField: 'pk',
    labelField: 'label',
    searchField: 'label',
    create: false,
    sortField: 'text',
    options: {{ members_list | safe}},
    render: {
        item: function(item, escape) {
              return '<div>' +
                '<div>' +
                  '<span class="name">' + escape(item.label) + '</span>' + " " +
                  '<span class="small text-muted">{% trans "Membership" %}: </span>' + '<span class="small ' + escape(item.status_class) + '">' + escape(item.status) + '</span>' +
                '</div>' +
            '</div>';
                },
        option: function(item, escape) {
            return '<div>' +
                '<div>' +
                    '<span class="name">' + escape(item.label) + '</span>' +
                '</div>' +
                '<div>' +
                  '<span class="small text-muted">{% trans "Membership" %}: </span>' + '<span class="small ' + escape(item.status_class) + '">' + escape(item.status) + '</span>' +
                '</div>' +
            '</div>';
        }
    },
    onInitialize: function() {
      this.setValue({{ fablog.member.pk }})
    }
  }); 
  </script>
  <script type="text/javascript" src={% static "js/jquery.plugin.min.js"%}></script> 
  <script type="text/javascript" src={% static "js/jquery.countdown.min.js"%}></script>
  <script type="text/javascript">
    $("span[name*='countup']").each(function() {
      time_str = $(this).attr("data-countup")
      time = new Date(time_str);
      $(this).countdown({since: time, format: 'HM', layout: "{hn}{sep}{mnn}"});
    });
  </script>
  <script type="text/javascript" src={% static "js/dateJs/date.min.js"%}></script>
  <script type="text/javascript">
    $( 'button[name="now"]' ).click(function() {
      t = new Date()
      $( this ).parent().siblings('input').val(t.toString( "yyyy-MM-dd HH:mm:ss" ))
    })
  </script>
  <script type="text/javascript">
    $("div[id*='collapse']").on('show.bs.collapse', function () {
        $(this).prev().find(".icon").removeClass("ion-arrow-right-b").addClass("ion-arrow-down-b");
    });
    $("div[id*='collapse']").on('hide.bs.collapse', function () {
        $(this).prev().find(".icon").removeClass("ion-arrow-down-b").addClass("ion-arrow-right-b");
    });
  </script>
{% endblock extra-javascript %}
{% block extra_head %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/selectize.bootstrap3.css' %}"/>
  <link href={% static "css/ionicons.min.css" %} rel="stylesheet">
{% endblock %}

